.mejoresf2p {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin: 40px 0;
}

.tarjeta-juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.5s;
}

.tarjeta-juego img {
  object-fit: fill;
  width: 100%;
  height: 300px;
  min-height: 300px;
  border-radius: 10px;
  user-select: none;
}

.tarjeta-juego a img {
  object-fit: fill;
  width: 100%;
  height: 300px;
  min-height: 300px;
  border-radius: 10px;
  user-select: none;
}

.tarjeta-juego:hover {
  transform: scale(1.1);
}

.juego-titulo {
  font-size: 1.2rem;
}

.juego-descripcion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
}

.precio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.descuento-tarjeta {
  background-color: var(--celeste-ofertas);
  padding: 5px 10px;
  color: var(--blanco);
  border-radius: 10%;
}

.tarjeta-juego h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: red;
}
