.navbar {
  background-color: var(--negro);
  color: var(--blanco);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 3%;
}

.navbar-a {
  text-decoration: none;
  color: var(--blanco);
}
